{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<form action="{% url 'set_language' %}" method="post" class="language-switcher" style="display:inline-block;margin-left:8px">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ request.get_full_path }}">
  <label for="language-select" class="visually-hidden">{% translate "Language" %}</label>
  <select id="language-select" name="language" onchange="this.form.submit()">
    {% for code, label in LANGUAGES %}
      <option value="{{ code }}"{% if code == LANGUAGE_CODE %} selected{% endif %}>{{ code|upper }}</option>
    {% endfor %}
  </select>
</form>
